@import "tailwindcss";

:root {
  --color-primary: #80CBC4;
  --color-background: #0F111A;
  --color-background-alt: #090B10;
  --color-text: #babed8;
  --color-text-light: #EEFFFF;
  --color-accent: #FFCC00;
  --color-border: #3E445D;
  --color-input-bg: #1A1C25;C
  --color-sidebar: #292D3E;
  --color-muted: #464B5D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
